# IDEs
.idea/

# Composer
vendor/
.composer/

# PHPUnit
.phpunit.cache/
.phpunit.result.cache


.docker/postgres/pagila-data.sql
.docker/postgres/pagila-schema.sql

examples/var/schema/auto-db.yaml
examples/var/schema/rewritten-*.yaml

examples/var/fixture/
