base_settings:
  country:
    exclude_columns: ['last_update']

entrypoints:
  -
    start: rental
    rental:
      count: 3
      filter: "rental_date > '2022-06-30' and rental_date < '2022-07-06'"
    route-settings:
      -
        route: [rental, staff]
        filter: "first_name = 'Lavone'"
  -
    start: country
    country:
      columns: [country_id, last_update]
      filter: "country = 'France'"
    route-settings:
        -
          route: [staff, store, inventory]
          filter: 'inventory_id > 50'
  -
    description: "only country and city"
    start: country
    country:
      count: 5
      filter: "country = 'United States'"
    address:
      count: 0
  -
    description: "multiple primary keys"
    start: film_actor
  -
    description: "use transformer"
    start: payment
    payment:
      count: 10
      transformers:
        amount: ['column_shuffle']


#entrypoints:
#  -
#    start: country
#    city:
#      tree: 3   # this allows route: country-city-city-city-address, if city were recursive
